<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<style>
    :root {
        --color-secondary: rgb(237, 237, 237);
        --color-main-table: rgb(204, 204, 204);
    }

    * {
        font-size: 10px;
    }

    .logotype {
        width: 50px!important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logotype a img {
        width: 100%;
        height: 100%;
    }

    .margin {
        width: 100%;
        height: 20px;
        background-color: rgb(237, 237, 237);
    }

    .details {
        background-color: rgb(237, 237, 237);
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
    }

    .factura {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hz {
        background-color: rgb(237, 237, 237);
    }

    .container-boards {
        margin-top: 20px;
    }

    /* Stayle table */
    .container-boards .cb-table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        min-width: 500px;
    }

    .container-boards .cb-table .cb-headerTable {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    .container-boards .cb-table .cb-headerTable th {
        text-align: center;
        background-color: rgb(204, 204, 204);
        ;
        max-height: 36px;
        font-size: 8px;
        position: sticky;
        top: 0;
        left: 0;
    }


    .container-boards .cb-table .txtleng,
    .container-boards .cb-table .txtleng th {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .container-boards .cb-table tbody tr:nth-child(odd) {
        background-color: rgba(225, 225, 225, 0.659);
        ;
    }

    .container-boards .cb-table tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    .container-boards .cb-table .cb-bodyTable td {
        text-align: center;
    }

    /* Footer */

    footer {
        margin-top: 20px;
    }

    .fe-card {
        width: 100%;
        background-color: rgb(237, 237, 237);
        position: relative;
        margin-bottom: 10px;
    }

    .fe-card .fe-header {
        width: 100%;
        background-color: rgb(204, 204, 204);
        ;
        font-weight: 700;
        padding-left: 5px;
        border-radius: 5px 5px 0 0;

    }

    .fe-card .fe-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    footer .details span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1px;
    }

    footer .details span .sp {
        width: 100px;
        background-color: rgb(213, 213, 213);
        text-align: end;
    }
</style>
<html lang="es">
<header>
    <div class="row">
        <div class="col-6 info-general">
            <div class="d-flex justify-content-center">
                <div class="logotype">
                    <a href="https://pauljaramillo.com/">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="100.000000pt" height="100.000000pt" viewBox="0 0 300.000000 200.000000"
                        preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)"
                        fill="#000000" stroke="none">
                        <path d="M1940 1421 l0 -180 28 -21 c22 -18 36 -21 75 -17 60 5 68 13 60 60
                        -4 28 -10 37 -21 32 -35 -13 -42 13 -42 161 l0 144 -50 0 -50 0 0 -179z"/>
                        <path d="M922 1399 l3 -192 50 0 50 0 3 57 3 56 37 0 c75 0 152 67 152 132 0
                        46 -26 96 -62 118 -27 17 -50 20 -136 20 l-102 0 2 -191z m183 61 c0 -33 -2
                        -35 -37 -38 l-38 -3 0 41 0 41 38 -3 c35 -3 37 -5 37 -38z"/>
                        <path d="M1319 1491 c-14 -5 -35 -14 -47 -20 -21 -11 -21 -13 -7 -41 18 -35
                        15 -34 51 -15 35 18 76 19 92 3 24 -24 12 -33 -49 -33 -56 0 -63 -3 -90 -33
                        -39 -43 -39 -84 0 -123 37 -36 94 -40 135 -8 l27 21 20 -21 c14 -15 32 -21 59
                        -21 40 0 40 0 40 40 0 22 -4 48 -10 58 -5 9 -12 43 -15 74 -4 34 -14 67 -26
                        82 -31 39 -115 56 -180 37z m101 -181 c0 -23 -40 -43 -65 -34 -15 6 -20 35 -8
                        47 3 4 21 7 40 7 26 0 33 -4 33 -20z"/>
                        <path d="M1582 1369 c3 -118 4 -121 31 -145 35 -30 89 -32 135 -4 l32 20 21
                        -21 c14 -14 30 -19 57 -17 36 3 37 4 40 46 2 31 -1 44 -12 48 -13 5 -16 24
                        -16 100 l0 94 -50 0 -50 0 0 -89 c0 -96 -9 -115 -52 -109 -22 3 -23 7 -26 101
                        l-3 97 -55 0 -56 0 4 -121z"/>
                        <path d="M1920 990 l0 -40 50 0 50 0 0 40 0 40 -50 0 -50 0 0 -40z"/>
                        <path d="M2070 871 c0 -164 9 -214 40 -231 23 -13 81 -13 113 -1 21 8 23 14
                        18 48 -4 23 -12 38 -21 39 -8 1 -21 2 -27 2 -10 2 -13 39 -13 152 l0 150 -55
                        0 -55 0 0 -159z"/>
                        <path d="M2272 849 c3 -176 4 -181 27 -200 23 -19 74 -24 119 -13 20 6 23 12
                        20 48 -3 36 -6 41 -28 41 l-25 0 -3 153 -3 152 -55 0 -55 0 3 -181z"/>
                        <path d="M360 933 c0 -190 -14 -224 -85 -204 -35 9 -35 9 -46 -31 -14 -52 -5
                        -61 68 -65 72 -5 121 17 145 67 15 28 18 62 18 178 l0 142 -50 0 -50 0 0 -87z"/>
                        <path d="M567 916 c-51 -19 -52 -20 -37 -56 14 -34 16 -35 50 -15 31 18 72 19
                        88 3 23 -23 13 -33 -32 -30 -82 7 -144 -47 -132 -113 13 -66 98 -95 163 -56
                        31 19 31 19 49 0 11 -12 30 -19 56 -19 l38 0 0 44 c0 25 -4 48 -10 51 -5 3
                        -10 30 -10 58 0 60 -14 92 -51 119 -34 25 -123 33 -172 14z m113 -176 c0 -28
                        -48 -47 -68 -26 -24 23 -7 46 33 46 28 0 35 -4 35 -20z"/>
                        <path d="M1000 923 c-8 -3 -25 -15 -37 -26 l-23 -20 0 21 c0 19 -5 22 -45 22
                        l-45 0 0 -142 0 -143 47 1 48 1 3 84 c3 92 13 109 64 109 27 0 28 2 28 50 0
                        50 -5 56 -40 43z"/>
                        <path d="M1127 916 c-51 -19 -52 -20 -37 -56 14 -34 16 -35 50 -15 31 18 72
                        19 88 3 24 -24 12 -33 -49 -33 -56 0 -63 -3 -90 -33 -18 -20 -29 -43 -29 -62
                        0 -72 94 -114 162 -72 34 21 34 21 51 2 12 -14 29 -20 57 -20 l40 0 0 44 c0
                        25 -4 48 -10 51 -5 3 -10 26 -10 51 0 57 -21 108 -53 129 -35 23 -123 29 -170
                        11z m113 -176 c0 -23 -40 -43 -65 -34 -15 6 -20 35 -8 47 3 4 21 7 40 7 26 0
                        33 -4 33 -20z"/>
                        <path d="M1538 912 c-30 -16 -38 -17 -38 -6 0 10 -13 14 -45 14 l-45 0 0 -142
                        0 -143 47 1 48 1 3 87 c3 80 5 87 29 103 24 16 26 16 39 -2 9 -13 14 -47 14
                        -104 l0 -86 47 1 48 1 3 87 c3 80 5 87 29 103 24 16 26 16 39 -2 9 -13 14 -47
                        14 -104 l0 -86 47 1 48 1 3 109 c3 119 -6 155 -44 173 -38 17 -67 13 -105 -12
                        -33 -22 -34 -22 -49 -4 -23 28 -88 32 -132 9z"/>
                        <path d="M2543 910 c-145 -65 -90 -280 72 -280 162 0 217 215 72 280 -23 11
                        -55 20 -72 20 -16 0 -49 -9 -72 -20z m116 -104 c12 -26 12 -33 0 -55 -29 -52
                        -92 -32 -92 29 0 64 65 82 92 26z"/>
                        <path d="M1922 779 l3 -142 48 -1 47 -1 0 143 0 142 -50 0 -51 0 3 -141z"/>
                        <path d="M1131 383 c0 -28 2 -54 7 -57 4 -2 6 14 4 37 -5 68 -10 76 -11 20z"/>
                        <path d="M1631 383 c-1 -28 3 -54 8 -57 5 -3 6 16 4 42 -7 69 -11 74 -12 15z"/>
                        <path d="M1681 383 c-1 -28 3 -54 8 -57 5 -3 6 16 4 42 -7 69 -11 74 -12 15z"/>
                        <path d="M851 346 c1 -28 3 -43 6 -34 3 11 13 17 25 15 11 -1 25 6 32 16 15
                        24 -4 52 -38 53 -25 1 -26 -1 -25 -50z m57 20 c4 -21 -14 -37 -35 -29 -14 5
                        -18 35 -6 47 12 12 38 1 41 -18z"/>
                        <path d="M973 394 c11 -4 17 -15 17 -35 0 -16 4 -29 9 -29 5 0 5 15 2 32 -5
                        23 -13 34 -26 35 -16 1 -17 1 -2 -3z"/>
                        <path d="M1031 374 c-1 -37 17 -55 47 -47 17 4 22 12 21 37 -1 22 -3 25 -6 9
                        -5 -24 -30 -49 -39 -40 -4 3 -10 21 -14 39 l-8 33 -1 -31z"/>
                        <path d="M1182 363 c-1 -28 -8 -45 -19 -52 -17 -10 -17 -10 0 -11 23 0 29 18
                        24 66 l-4 39 -1 -42z"/>
                        <path d="M1243 393 c11 -3 17 -14 17 -34 0 -16 5 -29 10 -29 14 0 13 43 -2 58
                        -7 7 -19 11 -27 11 -12 -1 -12 -2 2 -6z"/>
                        <path d="M1316 384 c-18 -17 -22 -54 -6 -54 6 0 10 10 10 23 0 13 5 28 12 35
                        7 7 9 12 6 12 -4 0 -14 -7 -22 -16z"/>
                        <path d="M1388 393 c28 -6 29 -21 0 -25 -28 -4 -35 -33 -11 -42 14 -6 16 -5 6
                        5 -19 19 -16 29 8 29 15 0 19 -5 15 -15 -3 -8 -1 -15 5 -15 6 0 9 15 7 33 -2
                        26 -8 32 -28 34 -22 1 -22 1 -2 -4z"/>
                        <path d="M1451 361 c1 -36 1 -36 8 -6 3 17 14 31 24 33 13 3 17 -4 18 -30 l1
                        -33 7 30 c3 17 13 30 21 30 8 0 18 -13 22 -30 6 -29 6 -29 5 5 l-2 35 -52 1
                        -53 1 1 -36z"/>
                        <path d="M1593 365 c0 -22 2 -30 4 -17 2 12 2 30 0 40 -3 9 -5 -1 -4 -23z"/>
                        <path d="M1730 381 c-18 -34 10 -68 44 -55 21 8 28 32 16 55 -14 25 -46 25
                        -60 0z m50 -7 c11 -12 10 -18 -4 -32 -16 -16 -18 -16 -31 2 -11 14 -12 23 -4
                        33 15 17 24 16 39 -3z"/>
                        <path d="M1860 381 c-15 -29 19 -68 46 -53 17 11 17 12 -6 9 -21 -2 -25 2 -25
                        23 0 19 5 25 22 24 12 0 20 3 17 8 -10 15 -43 8 -54 -11z"/>
                        <path d="M1950 385 c-14 -17 -5 -51 15 -59 35 -13 63 21 45 55 -13 23 -43 25
                        -60 4z m48 -19 c6 -29 -15 -43 -35 -24 -14 14 -14 20 -3 33 16 19 34 15 38 -9z"/>
                        <path d="M2041 361 c1 -36 1 -36 8 -6 3 17 14 31 24 33 13 3 17 -4 18 -30 l1
                        -33 7 30 c3 17 13 30 21 30 8 0 18 -13 22 -30 6 -29 6 -29 5 5 l-2 35 -52 1
                        -53 1 1 -36z"/>
                        <path d="M951 361 c-12 -8 -12 -12 -2 -25 8 -9 18 -16 24 -16 6 0 2 6 -8 14
                        -18 13 -18 13 1 24 10 6 15 11 9 12 -5 0 -16 -4 -24 -9z"/>
                        <path d="M1222 358 c-13 -13 1 -38 21 -38 6 0 2 6 -8 14 -18 13 -18 13 1 24
                        10 6 14 12 9 12 -6 0 -16 -5 -23 -12z"/>
                        </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="details" style="border-radius: 5px 5px 0 0;">
                <span>
                    <b>Emisor: </b>{{details.nombreComercial}}
                </span>
                <span>
                    <b>RUC: </b>{{ruc}}
                </span>
                <span>
                    <b>Matriz: </b>{{details.envio}}
                </span>
                <span>
                    <b>Direccion Sucursal: </b>{{details.direccion}}
                </span>
                <span>
                    <b>Obligado a llevar contabilidad: </b>SI
                </span>
            </div>
        </div>
        <div class="col-6">
            <div>
                <div class="margin"></div>
                <div class="factura">
                    <b>GUIA DE REMISION</b>
                    <b>No.{{serial}}</b>
                </div>
                <div class="details">
                    <span id="code" data-code="{{key}}">
                        <b>Número de Autorización: </b>{{key}}
                    </span>
                    <span>
                        <b>Fecha y hora de Autorización: </b>{{dateAut}}
                    </span>
                    <span>
                        <b>Ambiente: </b>{{ambiente}}
                    </span>
                    <span>
                        <b>Emisión: </b>NORMAL
                    </span>
                    <span class="d-flex justify-content-center align-items-center">  
                        <svg id="barcode"></svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row hz">
                <div class="col-12">
                    <div class="details">
                        <span>
                            <b>Identificacion (Trasportista)</b>:{{customer.ruc}}
                        </span>
                        <span>
                            <b>Razon Social:</b>{{customer.razonSocial}}
                        </span>
                        <span>
                            <b>Placa: </b>{{customer.placa}}
                        </span>
                        <span>
                            <b>Punto de partida: </b>{{details.direccion}}
                        </span>
                         <span>
                            <div>
                                <b>Fecha Inicio: </b>
                            </div>
                            <div>
                                {{customer.fechaIniTransporte}}
                            </div>
                            <div>
                                <b>Fecha Fin: </b>
                            </div>
                            <div>
                                {{customer.fechaFinTransporte}}
                            </div>
                          
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer>
    {{#each products}}
        <div class="row hz mt-3">
            <div class="col-6">
                <div class="details">
                    <span>
                        <b>Motivo del traslado</b>:{{this.traslado}}
                    </span>
                    <span>
                        <b>Destino (Punto de llegada):</b>{{this.direccion}}
                    </span>
                    <span>
                        <b>Identificacion (Destinatarios):</b>{{this.id}}
                    </span>
                    <span>
                        <b>Razon Social: </b>{{this.razonSocial}}
                    </span>
                    <span>
                        <b>Ruta: </b>{{envio}}
                    </span>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="container-boards">
                    <table class="cb-table">
                        <thead class="cb-header">
                            <tr class="cb-headerTable">
                                <th style="width: 10%;">Codigo Principal</th>
                                <th style="width: 10%;">Cantidad</th>
                                <th style="width: 25%;">descripcion</th>
                            </tr>
                        </thead>
                        <tbody class="cb-bodyTable">
                            {{#each this.detalles}}
                            <tr>
                                <td> {{this.code}} </td>
                                <td> {{this.quantity}} </td>
                                <td> {{this.description}} </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/each}}
</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

<script>
    const cod = document.querySelector('#code').dataset.code
    JsBarcode("#barcode", cod.toString(),{
        lineColor: "#000",
        width: 1,
        fontSize: 10,
        textAlign: "center"
    })
</script>

</html>